streamlit==1.39.0
openai-whisper==20231117
torch==2.2.1
torchvision==0.17.1
transformers==4.42.3
pillow==10.2.0
opencv-python-headless==4.9.0.80
sentence-transformers==3.0.1
numpy==1.26.4
chromadb==0.5.3
ffmpeg-python==0.2.1